:root{
    --bg-color :  rgb(0, 255, 187);
    --font-fam : 'Poppins', sans-serif;
    --clr-white : #fff;
    --clr-dark : #000000dc;
    --font-light : 300;
    --font-semi-bold : 500;
    --font-bold : 700;
    --font-size : 1.5rem;
}

*{
    font-family: var(--font-fam);
}

body{
    font-size: 1.1rem;
    box-sizing: border-box;
    margin: 0;
    background-color: var(--bg-color);
    display: grid;

    grid: 
        "header header header header" auto
        "...... lists  active ......" auto /
        1fr minmax(100px , 300px) minmax(250px , 500px) 1fr;
    column-gap: 50px;
}

.title{
    grid-area: header;
    text-align: center;
    font-size: calc(8vw + 1rem);
    font-weight: 900;
    color: rgba(0, 0, 0, 0.1);
    margin: -0.4em 0 0.1em;
    
}

.all-tasks{
    grid-area: lists;
}

.task-list{
    line-height: 1.7;
    font-size: 1.2rem;
    list-style: circle;
    padding-left: 1.1em;
}

.list-name{
    cursor: pointer;
    transition: all 0.1s ease;
}

form{
    display: flex;
}

.btn{
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
}

.btn.create{
    font-size: 1.7rem;
    font-weight: 900;
    margin-right: 0.25rem;

    transition: opacity 250ms ease-in;
}

.btn.create:hover{
    opacity: 0.7;
}

.btn.delete{
    font-weight: var(--font-light);
    opacity: 0.9;
    font-size: 1rem;
    transition: all 0.2s;

}

.btn.delete:hover{
    color: red;
}


.new {
    background-color: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    outline: none;
    padding: 0.25rem;


    transition: border-bottom 150ms ease-in;
    order: 2;
}

.new::placeholder{
    opacity: 0.4;
}


.new:focus{
    border-bottom-width: 3px;
}

.new:focus::placeholder{
    opacity: 0.15;
}

.new.list{
    font-size: 1rem;
}

.new.task{
    margin-bottom: 0;
}

.active-list{
    font-weight: var(--font-bold);
}

.todo-list{
    --spacer : 2rem;

    grid-area: active;
    background: white;
    color: black;
}

.todo-header{
    padding: var(--spacer);
    background-color: #e4e4e4;
   

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.list-title{
    font-size: xx-large;
    margin: 0 1rem 0 0;
}

.task-count{
    margin: 0;
    font-size: 0.8rem;
}

.todo-body{
    padding: var(--spacer);
    position: relative;
}

.new-task-creator .create{
    color: green;
}
.tasks{
    font-size: 1.3rem;
}

[type="checkbox"] {
    opacity: 0;
    position: absolute;
}


.task label{
    display: inline-flex;
    align-items: center;
    position: relative;
    
}

.task{
    position: relative;
    margin-bottom: 1.25em;
}

.task::after{
    content: "";
    position: absolute;
    height: 1px;
    right: 0;
    left: 0;
    bottom: -0.5em;
    background-color: currentColor;
    opacity: 0.1;
}

.custom-checkbox{
    --size : 0.65em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    margin-right: var(--size);
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox  {
    transform: scale(1.3);
    color: var(--bg-color), ;
}

[type="checkbox"]:checked + label .custom-checkbox {
    background: var(--bg-color);
    border-color: var(--bg-color);
    box-shadow: inset 0 0 0 2px white;
}

[type="checkbox"]:checked + label{
    opacity: 0.5;
}

[type="checkbox"]:checked + label{
    text-decoration: line-through;
    transition: all 0.3s ease;
}


.delete-stuff{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -35px;
    color: black;
}



@media screen and (max-width : 860px){
    body{
        display: grid;

        grid: 
            "header header header" 
            "...... lists  ......" auto
            "...... active ......" auto /
            1fr minmax(250px , 500px) 1fr;
    }

    .all-tasks{
        margin: 0 0 20px 0;
    }
}

